.main{
    display: flex;
    box-sizing: border-box;
    height: 25px;
    margin-bottom: 10px;
}

.search{
    box-sizing: border-box;
    width: 85%;
    height: 35px;
    border-radius: none;
    border: none;
    border-bottom: 1px solid rgb(196, 196, 196);
}

.up{
    font-size: 10px;
    border: none;
    background-color: transparent;
    margin-left: 5px;
}

.down{
    font-size: 10px;
    border: none;
    background-color: transparent;
    margin-left: 5px;
}

.sort{
    width: 9%;
    height: 35px;
}